@import url('./reset.css');

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px 24px;
    width: 1128px;
    margin: 0 auto;
  }
 
  .gallery-image {
    height: 240px;
    width: 360px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .bg-color {
    background-color: rgba(46, 47, 66, 0.8);
  }

  .sl-wrapper .sl-close,
  .sl-wrapper .sl-counter,
  .sl-wrapper .sl-navigation button.sl-prev, 
  .sl-wrapper .sl-navigation button.sl-next{
      color:white !important;
  }